
.open-sans-font {
  font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  

}
body{
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #412567;
    display: flex;
    gap: 314px;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    color: ghostwhite;
    gap: 32px;
}

nav button {
    border-radius: 10000px;
    padding: 16px, 12px;
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    color: ghostwhite;
    background: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}


@media screen and (max-width: 576px) {
   
}


/* End of nav bar  */




.heads h1 {
    font-size: 60px;
    font-weight: 800;
    color: ghostwhite;
    text-align: center;
    margin-bottom: 8px;
}

.heads p {
    font-size: 16px;
    font-weight: 400;
    color: darkgray;
    margin-bottom: 24px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 102px;
}

.btn1 {
    padding: 12px 20px;
    border-radius: 10000px;
    background: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    text-align: center;
}

.btn2 {
    padding: 12px 20px;
    border-radius: 10000px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    text-align: center;
}
.heads {
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
.newbtn{
    font-size: 18px;
    font-weight: 600;
 background-color: #00FF88;
 color: #1A0B2E;
 padding: 8px 16px;
 border-radius: 1000px;
 animation: rotate360 2s linear infinite;
}
.image{
    display: flex;
    justify-content: center;
    position: relative;
}
.mic{
    position: absolute;
    top: 90px;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 576px) {

}


/* End of hard part  */


.description {
    background-color: #1A0B2E;
}

.desin {
    margin-bottom: 80px;
}

.desin h1 {
    font-size: 48px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin-bottom: 16px;
}

.desin p {
    font-size: 16px;
    font-weight: 400;
    color: ghostwhite;
    text-align: center;
}

hr {
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    color: darkolivegreen;
}

.achieve {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.achieve h1 {
    color: #00FF88;
    text-align: center;
    margin-bottom: 16px;
}

.achieve p {
    font-size: 16px;
    font-weight: 400;
    color: ghostwhite;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 120px;
}

@media screen and (max-width: 576px) {
    .description {
        background-color: #1A0B2E;
        width: 100%;
    }
    .desin hr{
        margin-left: 1.25rem;
       margin-right: 1.25rem;
    }
    .achieve {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

/* End of header  */


.grid {
    background-color: #230E3D;
    padding: 120px;
}

.grid h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 7.5rem;
    margin-bottom: 2.5rem;
}

.grid-part {
    display: grid;
    /* grid-template-columns:repeat(400px,1fr) ;
    grid-template-rows: repeat(261px,1fr); */

    /* upor ar ta best hoba naki nicher ta?  */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.gridcd1 {

    grid-row: span 2;
    padding: 108px 40px;
    border-radius: 40px;
    background-color: #351165;
}

.gridcd2 {
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
}

.gridcd3 {
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
}

.gridcd4 {
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
}

.gridcd5 {
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
}

.gridcard img {
    margin-bottom: 10px;
}

.gridcard h3 {
    font-size: 24px;
    font-weight: bold;
    color: ghostwhite;
    margin-bottom: 16px;
}

.gridcard p {

    font-size: 16px;
    font-weight: 400;
    color: darkgray;

}

 @media screen and (max-width: 576px) {
    .grid {
    background-color: #230E3D;
    padding: 24px;
    }
    .grid h1 {
    font-size: 22px;
}
    .grid-part {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

} 


/* End of grid section  */


.moreinfo {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.moreinfo h2 {
    color: aliceblue;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 120px;
    margin-bottom: 40px;
}

.vinland {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;

}

.vinlandcard{
    background-color: #250D44;
    width: 380px;
    height: 440px;
    border-radius: 13px;
    transition: width 3s, height 3s, padding 3s, background-color 3s, ease-in 1s;
}

.vinlandcard iframe {
    width: 380px;
    height: 215px;
    border-radius: 13px;
}

.vinlandcard h4 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

.vinlandcard p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}

.undervin {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: left;
    margin-left: 24px;

}

.undervin img {
    width: 20px;
    height: 20px;
}

.undervin p {
    color: #00FF88;
    font-size: 16px;
}

.vinlandcard:hover{
    width: 420px;
    height: 480px;
    padding: 10px;
    background-color: greenyellow;
    color: #250D44;
}

@media screen and (max-width: 576px) {
    .moreinfo{
        padding-bottom: 40px;
    }
    .moreinfo h2 {
    font-size: 32px;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 24px;
    }
    .vinland {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

}
}

/* End of the vinland saga  */


.hostcard {
    background-color: #351165;
    border-radius: 40px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    gap: 24px;
    padding: 40px;
}

.host h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
}

.hostpara h3 {
    color: ghostwhite;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    padding-top: 42px;
}

.hostpara p {
    font-size: 16;
    color: darkgray;
    font-weight: 400;
    margin-bottom: 16px;
}

.hostpara ul {
    display: flex;
    gap: 8px;
    list-style: none;
    align-items: center;
}

.hostpara img {
    background-color: #533C72;
    border-radius: 50px;
    /* border: 1px solid rgba(83, 60, 114, 1); */
    padding: 10px;
}

@media screen and (max-width: 576px) {
    .hostcard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 16px;
    padding: 24px;
    margin-bottom: 40px;
}
.hostpara{
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hostpara h3{
    font-size: 24px;
}
.hostpara p{
    text-align: center;
}
}

/* start of footer section  */


footer {
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer .h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-bottom: 32px;

}

.h1 span {
    color: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

.footerlist {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    margin-bottom: 32px;
}

.footerlist img {
    margin-right: 8px;
}

footer p {
    color: darkgray;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 120px;
}

@media screen and (max-width: 576px) {
    footer .h1 {
    padding-top: 40px;
    margin-bottom: 24px;
}
.footerlist{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    align-items: center;
    justify-content: center;
}
    .foots{
        margin-left: 72.5px;
        margin-right: 72.5px;
    }
}


/* Now hover effect  */





/* Now Animation time  */





/* Now responsive time  */